<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613969811525-u7abmcuq4pmtf3le1j653p16b8314ici.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613969811525-u7abmcuq4pmtf3le1j653p16b8314ici</string>
	<key>API_KEY</key>
	<string>AIzaSyCY9eP8pFpbSkleFc_aM4ENbiOebLZ32qQ</string>
	<key>GCM_SENDER_ID</key>
	<string>613969811525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceProject</string>
	<key>PROJECT_ID</key>
	<string>ecomapp-ccc73</string>
	<key>STORAGE_BUCKET</key>
	<string>ecomapp-ccc73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613969811525:ios:fb88a9f3885030fcbc2b2c</string>
</dict>
</plist>